h1 {
    padding: 20px 0 10px;
    color: orange;
}

.dimention {
    width: calc(100% / 5 - 10px);
    background-color: rgb(247, 242, 235);
    border: solid orange 3px;
    border-radius: 10px;
}

.cont-card {
    gap: 10px;
    flex-wrap: wrap;
}

.lista {
    padding: 20px;
}